@import "tailwindcss";

:root {
  --background: #252525;
  --foreground: #ffffff;
  --background-secondary: #1d1d1d;
  --main-color: #238be5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: var(--background-secondary);
  --color-main-color: var(--main-color);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  @apply bg-background-secondary max-w-full flex justify-start items-center;
}

form {
  @apply flex flex-col items-center justify-center mt-90 mb-90 max-w-full;
}
